Repository aifrak/template-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run css:format, ./run prettier:format, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

build(docker): Remove `LANGUAGE`
  docker-compose.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

build(docker): Use boolean for `INSIDE_DOCKER`
  docker-compose.yml
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

docs(docker): Add documentation about environments variables
  docs/docker.md
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(scripts): Use `==` instead of `=`
  run
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

build(docker): Move env variables as runtime env variables (#235)
  Dockerfile
  docker-compose.ci.yml
  docker-compose.dev.yml
  docker-compose.yml
  docs/docker.md
  run
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

chore(scripts): Be able to `git rebase` without error
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Be able to `git rebase` without error (#241)
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(vscode): Add more recommended extensions
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add more recommended extensions (#252)
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add `gitlens` into devcontainer
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add `gitlens` into devcontainer (#253)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump npm from 8.3.1 to 8.4.1
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Bump npm from 8.3.1 to 8.4.1 (#254)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(npm): Remove `overrides` for `markdownlint`
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(npm): Remove `overrides` for `markdownlint` (#257)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(npm): Update nested dependencies
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(npm): Update nested dependencies (#258)
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Replace `utf-8` to `utf8`
  .release-it.js
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint

chore: Replace `utf-8` to `utf8` (#275)
  .release-it.js
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint

ci: Do not lint when Dependabot is co-author
  .github/workflows/ci.yml
  .vscode/tasks.json
  scripts/run/git.sh
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(scripts): Move `git log -1` into `git_log()`
  scripts/run/git.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

ci: Do not lint commit message when Dependabot is co-author (#276)
  .github/workflows/ci.yml
  .vscode/tasks.json
  scripts/run/git.sh
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(scripts): Simplify conditions
  run
  scripts/run/git.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Simplify conditions (#277)
  run
  scripts/run/git.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Use Docker Compose V2
  .vscode/tasks.json
  docs/setup.md
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

docs(docker): Bump minimum Docker version to 20.10.13
  docs/setup.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(vscode): Add missing variable to `dc:exec` task
  .vscode/tasks.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(scripts): Use Docker Compose V2 (#297)
  .vscode/tasks.json
  docs/setup.md
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

chore(vscode): Add file nesting to config files
  .vscode/settings.json
  spellcheck/dictionaries/filenames.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add file nesting to config files (#298)
  .vscode/settings.json
  spellcheck/dictionaries/filenames.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump npm from 8.4.1 to 8.5.4
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Bump npm from 8.4.1 to 8.5.4 (#299)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(scripts): Use `npm ci` to install deps for dev env
  docs/setup.md
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

chore(scripts): Use `npm ci` to install deps for dev env (#300)
  docs/setup.md
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

chore(deps-dev): Remove override of `glob-parent` for `htmlhint`
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Remove override of `glob-parent` for `htmlhint` (#326)
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Pin versions of `actions/checkout` and `actions/cache`
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Pin versions of `actions/checkout` and `actions/cache` (#329)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(release): Use ESM syntax for `calver-bumper.js`
  .editorconfig
  .eslintrc.yml
  .release-it.cjs
  package.json
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.cjs
  scripts/release-it/tests/plugins/calver-bumper.test.js
  scripts/release-it/types.cjs
  spellcheck/dictionaries/filenames.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint

chore: Use comment blocks for documentation
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.cjs
  scripts/release-it/tests/plugins/calver-bumper.test.js
  scripts/release-it/types.cjs
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint

Path conditions:
  ./run spellcheck:lint: any of: *
  ./run css:format: any of: *.{css,less,sass,scss}
  ./run prettier:format: ((((any of: *.{css,less,sass,scss}) or (any of: *.{htm,html})) or (any of: *.js)) or (any of: *.{json,yaml,yml,htmlhintrc})) or (any of: *.md)
  ./run css:lint: any of: *.{css,less,sass,scss}
  ./run prettier:lint: ((((any of: *.{css,less,sass,scss}) or (any of: *.{htm,html})) or (any of: *.js)) or (any of: *.{json,yaml,yml,htmlhintrc})) or (any of: *.md)
  ./run html:lint: any of: *.{htm,html}
  ./run js:format: any of: *.js
  ./run js:lint: any of: *.js
  ./run shell:format: any of: {run,.husky/*,*.sh}
  ./run shell:lint: any of: {run,.husky/*,*.sh}
  ./run dockerfile:format: any of: Dockerfile*
  ./run dockerfile:lint: any of: Dockerfile*
  ./run markdown:lint: any of: *.md
