Repository aifrak/template-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: echo "IGNORED spellcheck dictionaries", ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

.lintstagedrc.yml:

"*(!**/spelling/dictionaries/**)":
  - ./run spellcheck:lint

"**/spelling/dictionaries/**":
  - echo "IGNORED spellcheck dictionaries"

"{run,commit-msg,pre-commit,*.sh}":
  - ./run shell:format
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:format
  - ./run dockerfile:lint

"{*.json,*.yaml,*.yml,.czrc}":
  - ./run prettier:format
  - ./run prettier:lint

"*.md":
  - ./run prettier:format
  - ./run prettier:lint
  - ./run markdown:lint

chore(lint): Override `languageId` for files without extension
  cspell.yml
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Add dictionary for vscode extensions
  cspell.yml
  spelling/dictionaries/vscode-extensions.txt
Due: echo "IGNORED spellcheck dictionaries", ./run prettier:format, ./run prettier:lint

chore(lint): Improve globs and ignore more paths
  cspell.yml
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Add dictionary for abbreviations
  cspell.yml
  spelling/dictionaries/abbreviations.txt
Due: echo "IGNORED spellcheck dictionaries", ./run prettier:format, ./run prettier:lint

chore(lint): Do not ignore `.vscode` from spell check
  .vscode/settings.json
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Add word for spellcheck
  spelling/dictionaries/workspace.txt
Due: echo "IGNORED spellcheck dictionaries"

build(npm): Spellcheck with `cspell` before git commit (#88)
  .lintstagedrc.yml
  .vscode/settings.json
  cspell.yml
  package-lock.json
  package.json
  run
  scripts/run/spellcheck.sh
  spelling/dictionaries/abbreviations.txt
  spelling/dictionaries/vscode-extensions.txt
  spelling/dictionaries/workspace.txt
Due: echo "IGNORED spellcheck dictionaries", ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore: Fix indent in help message
  scripts/run/markdown.sh
  scripts/run/prettier.sh
Due: ./run shell:format, ./run shell:lint

chore: Fix indent in help message (#89)
  scripts/run/markdown.sh
  scripts/run/prettier.sh
Due: ./run shell:format, ./run shell:lint

chore(scripts): Move and rename function to lint last git commit message
  .github/workflows/ci.yml
  run
  scripts/run/git.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(scripts): Move and rename function to lint last git commit message (#91)
  .github/workflows/ci.yml
  run
  scripts/run/git.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Handle dictionaries for `lint-staged` correctly
  .lintstagedrc.yml
  scripts/run/spellcheck.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Handle dictionaries for `lint-staged` correctly (#92)
  .lintstagedrc.yml
  scripts/run/spellcheck.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

refactor: Improve globs for `husky` hooks
  .editorconfig
  .github/labeler.yml
  .lintstagedrc.yml
  .vscode/settings.json
Due: ./run prettier:format, ./run prettier:lint

refactor: Improve globs for `husky` hooks (#93)
  .editorconfig
  .github/labeler.yml
  .lintstagedrc.yml
  .vscode/settings.json
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Rename `.czrc` to `.cz.json` and remove uncessary file mappings
  .cz.json
  .github/labeler.yml
  .lintstagedrc.yml
  .vscode/settings.json
  cspell.yml
  spelling/dictionaries/workspace.txt
Due: echo "IGNORED spellcheck dictionaries", ./run prettier:format, ./run prettier:lint

chore(lint): Rename `.czrc` to `.cz.json` and remove uncessary file mappings (#94)
  .cz.json
  .github/labeler.yml
  .lintstagedrc.yml
  .vscode/settings.json
  cspell.yml
  spelling/dictionaries/workspace.txt
Due: echo "IGNORED spellcheck dictionaries", ./run prettier:format, ./run prettier:lint

chore(lint): Rename `spelling` to `spellcheck`
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  cspell.yml
  spellcheck/dictionaries/abbreviations.txt
  spellcheck/dictionaries/vscode-extensions.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Rename `spelling` to `spellcheck` (#95)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  cspell.yml
  spellcheck/dictionaries/abbreviations.txt
  spellcheck/dictionaries/vscode-extensions.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Split into smaller spellcheck dictionaries and remove suggestion
  cspell.yml
  spellcheck/dictionaries/bash-custom.txt
  spellcheck/dictionaries/binaries.txt
  spellcheck/dictionaries/docker.txt
  spellcheck/dictionaries/file-names.txt
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/repo-owners.txt
  spellcheck/dictionaries/vscode-extensions.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Split into smaller spellcheck dictionaries and remove suggestion (#96)
  cspell.yml
  spellcheck/dictionaries/bash-custom.txt
  spellcheck/dictionaries/binaries.txt
  spellcheck/dictionaries/docker.txt
  spellcheck/dictionaries/file-names.txt
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/repo-owners.txt
  spellcheck/dictionaries/vscode-extensions.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run prettier:format, ./run prettier:lint

build(lint): Add `stylelint` with its config
  .browserslistrc
  .stylelintignore
  .stylelintrc.yml
  package-lock.json
  package.json
  spellcheck/dictionaries/file-names.txt
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/repo-owners.txt
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Add command to lint `*.css` and ignored cache
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  cspell.yml
  run
  scripts/run/css.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add extension for `stylelint`
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: ./run prettier:format, ./run prettier:lint

build(lint): Add `stylelint` command with its config to lint CSS (#97)
  .browserslistrc
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .gitignore
  .stylelintignore
  .stylelintrc.yml
  .vscode/extensions.json
  cspell.yml
  package-lock.json
  package.json
  run
  scripts/run/css.sh
  spellcheck/dictionaries/file-names.txt
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/repo-owners.txt
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Lint staged CSS files
  .lintstagedrc.yml
Due: ./run prettier:format, ./run prettier:lint

chore(scripts): Add missing command in `help`
  scripts/run/css.sh
Due: ./run shell:format, ./run shell:lint

chore(lint): Improve globs
  .lintstagedrc.yml
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Remove warning `No autofix`
  .stylelintrc.yml
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Lint staged CSS files (#98)
  .lintstagedrc.yml
  .stylelintrc.yml
  scripts/run/css.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add missing tasks from `scripts`
  .vscode/tasks.json
Due: ./run prettier:format, ./run prettier:lint

chore(scripts): Reorder `help` message
  scripts/run/css.sh
Due: ./run shell:format, ./run shell:lint

chore(vscode): Add missing tasks from `scripts` (#99)
  .vscode/tasks.json
  scripts/run/css.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Improve globs
  .lintstagedrc.yml
  scripts/run/css.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Improve globs (#100)
  .lintstagedrc.yml
  scripts/run/css.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

build(lint): Add `htmlhint`
  package-lock.json
  package.json
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Add `htmllint` config
  .htmlhintrc
  spellcheck/dictionaries/workspace.txt
Due: none

chore(lint): Lint `html` as staged changes and CI
  .lintstagedrc.yml
  run
  scripts/run/html.sh
  spellcheck/dictionaries/file-names.txt
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Format `css`
  run
Due: ./run shell:format, ./run shell:lint

chore(vscode): Add `css:lint` as task
  .vscode/tasks.json
Due: ./run prettier:format, ./run prettier:lint
