Repository aifrak/template-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run css:format, ./run prettier:format, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

.lintstagedrc.yml:

"*":
  - ./run spellcheck:lint

"*.{css,less,sass,scss}":
  - ./run css:format
  - ./run prettier:format
  - ./run css:lint
  - ./run prettier:lint

"*.{htm,html}":
  - ./run prettier:format
  - ./run html:lint
  - ./run prettier:lint

"*.js":
  - ./run js:format
  - ./run prettier:format
  - ./run js:lint
  - ./run prettier:lint

"{run,.husky/*,*.sh}":
  - ./run shell:format
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:format
  - ./run dockerfile:lint

"*.{json,yaml,yml,htmlhintrc}":
  - ./run prettier:format
  - ./run prettier:lint

"*.md":
  - ./run prettier:format
  - ./run prettier:lint
  - ./run markdown:lint

chore: Exclude more directories in `.*ignore` and `htmlhint`
  .eslintignore
  .markdownlintignore
  .prettierignore
  .stylelintignore
  .vscode/settings.json
  scripts/run/html.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Exclude more directories in `.*ignore` and `htmlhint` (#178)
  .eslintignore
  .markdownlintignore
  .prettierignore
  .stylelintignore
  .vscode/settings.json
  scripts/run/html.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

ci(security): Get security fix from `tmpl`
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci(security): Get security fix from `tmpl` (#179)
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Update `action-update-license-year` to v2.1.1
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Update `action-update-license-year` to v2.1.1 (#181)
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

build(npm): Remove `engine-strict` for Dependabot
  .npmrc
Due: ./run spellcheck:lint

build(npm): Remove `engine-strict` for Dependabot (#182)
  .npmrc
Due: ./run spellcheck:lint

chore(deps): Build npm from 8.1.4 to 8.3.0
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps): Build npm from 8.1.4 to 8.3.0 (#183)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Overrides packages to fix security warnings
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Overrides packages to fix security warnings (#184)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update dependencies
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update dependencies (#185)
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Group specific editor settings together
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Group specific editor settings together (#186)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Let `csstree/validator` check also `scss` and `sass` files
  .stylelintrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Let `csstree/validator` check also `scss` and `sass` files (#187)
  .stylelintrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Do not break html closing tag while formatting
  .prettierrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Keep default whitespace logic for `*.hbs`
  .prettierrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Do not break html closing tag while formatting (#188)
  .prettierrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

docs(license): Update copyright year to 2022
  LICENSE
Due: ./run spellcheck:lint

ci(license): Add conventional commit to PR title
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci(license): Add conventional commit to PR title (#198)
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Rename `PAT_PR_AUTO_MERGE` to `PAT_GITHUB`
  .github/workflows/auto-merge.yml
  .github/workflows/update-license-year.yml
  README.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

ci: Rename `PAT_PR_AUTO_MERGE` to `PAT_GITHUB` (#199)
  .github/workflows/auto-merge.yml
  .github/workflows/update-license-year.yml
  README.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(deps-dev): Update dependencies and override updates for security
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update dependencies and override updates for security (#219)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump npm from 8.3.0 to 8.3.1
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Bump npm from 8.3.0 to 8.3.1 (#220)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore: Increase version also in `package.json`
  .github/dependabot.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Increase version also in `package.json` (#223)
  .github/dependabot.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Remove unreachable condition on `pull_request`
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Remove unreachable condition on `pull_request` (#227)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add more recommended extensions
  .vscode/extensions.json
  .vscode/settings.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Remove extra setting
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add more recommended extensions (#233)
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

build(docker): Replace comments with print messages
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

build(docker): Replace comments with print messages (#234)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

build(docker): Move env variables as runtime env variables
  Dockerfile
  docker-compose.ci.yml
  docker-compose.dev.yml
  docker-compose.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run dockerfile:format, ./run dockerfile:lint
