Repository aifrak/template-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run css:format, ./run prettier:format, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

chore(docker): Install locales as recommended in README from ubuntu image
  Dockerfile
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(docker): Install locales as recommended in README from ubuntu image (#652)
  Dockerfile
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(lint): Move prettier cache to project root
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .vscode/settings.json
  cspell.yml
  scripts/run/prettier.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(lint): Move prettier cache to project root (#664)
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .vscode/settings.json
  cspell.yml
  scripts/run/prettier.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Order filenames
  .gitignore
Due: ./run spellcheck:lint

chore: Order filenames (#665)
  .gitignore
Due: ./run spellcheck:lint

chore(npm): Add correct npm engine version
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(npm): Add correct npm engine version (#715)
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update `ca-certificates`
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Update `ca-certificates` (#771)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(readme): Add acknowledgements
  README.md
  cspell.yml
  spellcheck/dictionaries/repo-names.txt
  spellcheck/dictionaries/repo-owners.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(readme): Add acknowledgements (#772)
  README.md
  cspell.yml
  spellcheck/dictionaries/repo-names.txt
  spellcheck/dictionaries/repo-owners.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(scripts): Adjust indentation of help messages
  run
  scripts/run/css.sh
  scripts/run/docker_file.sh
  scripts/run/git.sh
  scripts/run/html.sh
  scripts/run/javascript.sh
  scripts/run/markdown.sh
  scripts/run/prettier.sh
  scripts/run/release.sh
  scripts/run/shell.sh
  scripts/run/spellcheck.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Adjust indentation of help messages (#773)
  run
  scripts/run/css.sh
  scripts/run/docker_file.sh
  scripts/run/git.sh
  scripts/run/html.sh
  scripts/run/javascript.sh
  scripts/run/markdown.sh
  scripts/run/prettier.sh
  scripts/run/release.sh
  scripts/run/shell.sh
  scripts/run/spellcheck.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Improve help messages
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Improve help messages (#776)
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(deps-dev): Update all peer dependencies
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update all peer dependencies (#784)
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update stylelint from 14 to 15
  .stylelintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update stylelint from 14 to 15 (#785)
  .stylelintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Fix prettier TypeError
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Fix prettier TypeError (#786)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Make stylelint work after upgrade to 15
  .stylelintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Make stylelint work after upgrade to 15 (#788)
  .stylelintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Add more rules for scss in stylelint config
  .stylelintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Add more rules for scss in stylelint config (#789)
  .stylelintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Apply stricter rules in stylelint
  .stylelintrc.yml
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Apply stricter rules in stylelint (#790)
  .stylelintrc.yml
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): More report settings at the right location
  .stylelintrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): More report settings at the right location (#793)
  .stylelintrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Make stylelint work for scss
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Make stylelint work for scss (#794)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(npm): Remove unnecessary override
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(npm): Remove unnecessary override (#795)
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Use correct formatter for `*.css` and `*.scss`
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Use correct formatter for `*.css` and `*.scss` (#796)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Remove any mentions of `less`
  .devcontainer/devcontainer.json
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/tasks.json
  scripts/run/css.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(lint): Remove any mentions of `less` (#797)
  .devcontainer/devcontainer.json
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/tasks.json
  scripts/run/css.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(vscode): Stricter file exclusions
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Stricter file exclusions (#798)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

Path conditions:
  ./run spellcheck:lint: any of: *
  ./run css:format: any of: *.{css,less,sass,scss}
  ./run prettier:format: ((((any of: *.{css,less,sass,scss}) or (any of: *.{htm,html})) or (any of: *.js)) or (any of: *.{json,yaml,yml,htmlhintrc})) or (any of: *.md)
  ./run css:lint: any of: *.{css,less,sass,scss}
  ./run prettier:lint: ((((any of: *.{css,less,sass,scss}) or (any of: *.{htm,html})) or (any of: *.js)) or (any of: *.{json,yaml,yml,htmlhintrc})) or (any of: *.md)
  ./run html:lint: any of: *.{htm,html}
  ./run js:format: any of: *.js
  ./run js:lint: any of: *.js
  ./run shell:format: any of: {run,.husky/*,*.sh}
  ./run shell:lint: any of: {run,.husky/*,*.sh}
  ./run dockerfile:format: any of: Dockerfile*
  ./run dockerfile:lint: any of: Dockerfile*
  ./run markdown:lint: any of: *.md
