Repository aifrak/template-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run css:format, ./run prettier:format, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

chore(npm): Bump npm `engines` from 7 to 8
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump npm from 7.24.0 to 8.0.0 (#131)
  Dockerfile
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run dockerfile:format, ./run dockerfile:lint

chore: Use `em dash` instead of `hyphen`
  .github/labeler.yml
  .github/workflows/ci.yml
  .vscode/settings.json
  .vscode/tasks.json
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Replace `hyphen` with `em dash` for comments (#132)
  .github/labeler.yml
  .github/workflows/ci.yml
  .vscode/settings.json
  .vscode/tasks.json
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(vscode): Add `Comment Anchors`
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Reorder extensions
  .vscode/extensions.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Reorder extensions (#134)
  .vscode/extensions.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add clearer comment
  .vscode/tasks.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

Add clearer comment (#135)
  .vscode/tasks.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(scripts): Fix wording in help message for `html`
  scripts/run/html.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Fix wording in help message for `html` (#136)
  scripts/run/html.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(deps): Bump npm from 8.0.0 to 8.1.0
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps): Bump npm from 8.0.0 to 8.1.0 (#139)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore: Add github action name in config
  .github/labeler.yml
  .github/pr-labeler.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Add github action name in config (#140)
  .github/labeler.yml
  .github/pr-labeler.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps): Bump npm from 8.1.0 to 8.1.2
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps): Bump npm from 8.1.0 to 8.1.2 (#143)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

build(deps): Add `release-it` with its custom calver plugin
  .eslintrc.yml
  .release-it.yml
  VERSION
  package-lock.json
  package.json
  run
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/tests/plugins/calver-bumper.test.js
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint

build(npm): Use custom template and plugin to update `CHANGELOG.md`
  .editorconfig
  .eslintignore
  .eslintrc.yml
  .gitignore
  .lintstagedrc.yml
  .markdownlintignore
  .prettierignore
  .release-it.js
  .release-it.yml
  .vscode/settings.json
  CHANGELOG.md
  cspell.yml
  scripts/release-it/hooks/changelog/add_header.sh
  scripts/release-it/hooks/changelog/delete_header.sh
  scripts/release-it/hooks/changelog/header-template.md
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.js
  scripts/release-it/templates/header.hbs
  scripts/release-it/types.js
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

chore(scripts): Move scripts to `release.sh` and add more functions related to releases
  docs/code-convention.md
  package.json
  run
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

ci: Handle releases with `release-ci` instead of third-part actions
  .github/workflows/create-release.yml
  .github/workflows/release.yml
  .husky/pre-commit
  cspell.yml
  spellcheck/dictionaries/repo-owners.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

docs: Add `RELEASE.md`
  RELEASE.md
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

docs: Add convention about Git workflow
  docs/code-convention.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(lint): Add `release` scope and remove `dev` scope
  .commitlintrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

build(docker): Move `ca-certificates` from `dev` to `base`
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

build: Release and update `CHANGELOG.md` with `release-it` from workflow (#148)
  .commitlintrc.yml
  .editorconfig
  .eslintignore
  .eslintrc.yml
  .github/workflows/create-release.yml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  .markdownlintignore
  .prettierignore
  .release-it.js
  .vscode/settings.json
  CHANGELOG.md
  Dockerfile
  RELEASE.md
  VERSION
  cspell.yml
  docs/code-convention.md
  package-lock.json
  package.json
  run
  scripts/release-it/hooks/changelog/add_header.sh
  scripts/release-it/hooks/changelog/delete_header.sh
  scripts/release-it/hooks/changelog/header-template.md
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.js
  scripts/release-it/templates/header.hbs
  scripts/release-it/tests/plugins/calver-bumper.test.js
  scripts/release-it/types.js
  scripts/run/release.sh
  spellcheck/dictionaries/repo-owners.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

chore(scripts): Use `snake_case` for `*.sh`
  run
  scripts/run/docker_file.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Use `snake_case` for `*.sh` (#149)
  run
  scripts/run/docker_file.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

ci: Trigger `CI` workflow after Dependabot's PR is merged
  .github/workflows/auto-merge.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Trigger `CI` workflow after Dependabot's PR is merged (#151)
  .github/workflows/auto-merge.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

docs(readme): Add procedure about `PAT_PR_AUTO_MERGE`
  README.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

docs(readme): Add procedure about `PAT_PR_AUTO_MERGE` (#152)
  README.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(deps-dev): Bump eslint-plugin-import from 2.24.2 to 2.25.3
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump eslint-plugin-import from 2.24.2 to 2.25.3 (#153)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(scripts): Test only hooks instead of whole changelog update
  .release-it.js
  scripts/release-it/hooks/changelog/add_header.sh
  scripts/release-it/hooks/changelog/delete_header.sh
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint

chore(scripts): Remove unnecessary condition
  scripts/release-it/hooks/changelog/delete_header.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Test only hooks instead of whole changelog update (#154)
  .release-it.js
  scripts/release-it/hooks/changelog/add_header.sh
  scripts/release-it/hooks/changelog/delete_header.sh
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint

chore(scripts): Remove `changelog` function and improve `help` message
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Remove `changelog` function and improve `help` message (#155)
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(docker): Add `ci` as new build stage
  .github/workflows/ci.yml
  .husky/pre-commit
  .vscode/settings.json
  .vscode/tasks.json
  Dockerfile
  docker-compose.ci.yml
  docs/setup.md
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

Path conditions:
  ./run spellcheck:lint: any of: *
  ./run css:format: any of: *.{css,less,sass,scss}
  ./run prettier:format: ((((any of: *.{css,less,sass,scss}) or (any of: *.{htm,html})) or (any of: *.js)) or (any of: *.{json,yaml,yml,htmlhintrc})) or (any of: *.md)
  ./run css:lint: any of: *.{css,less,sass,scss}
  ./run prettier:lint: ((((any of: *.{css,less,sass,scss}) or (any of: *.{htm,html})) or (any of: *.js)) or (any of: *.{json,yaml,yml,htmlhintrc})) or (any of: *.md)
  ./run html:lint: any of: *.{htm,html}
  ./run js:format: any of: *.js
  ./run js:lint: any of: *.js
  ./run shell:format: any of: {run,.husky/*,*.sh}
  ./run shell:lint: any of: {run,.husky/*,*.sh}
  ./run dockerfile:format: any of: Dockerfile*
  ./run dockerfile:lint: any of: Dockerfile*
  ./run markdown:lint: any of: *.md
