Repository aifrak/template-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run css:format, ./run prettier:format, ./run css:lint, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

.lintstagedrc.yml:

"*":
  - ./run spellcheck:lint

"*.{css,less,scss,sass}":
  - ./run css:format
  - ./run prettier:format
  - ./run css:lint
  - ./run prettier:lint

"{run,.husky/*,*.sh}":
  - ./run shell:format
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:format
  - ./run dockerfile:lint

"*.{json,yaml,yml}":
  - ./run prettier:format
  - ./run prettier:lint

"*.md":
  - ./run prettier:format
  - ./run prettier:lint
  - ./run markdown:lint

chore(vscode): Add extension to lint html
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Add `.htmlhintrc` as chore label and relax globs
  .github/labeler.yml
  spellcheck/dictionaries/file-names.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

build(lint): Add `htmlhint` to lint `htm` and `html` (#104)
  .devcontainer/devcontainer.json
  .github/labeler.yml
  .htmlhintrc
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/tasks.json
  package-lock.json
  package.json
  run
  scripts/run/html.sh
  spellcheck/dictionaries/file-names.txt
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/vscode-extensions.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

ci: Do not lint commit messages from Dependabot
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Do not lint commit messages from Dependabot (#105)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Add new rules to `stylelint`
  .stylelintrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Add new rules to `stylelint` (#107)
  .stylelintrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Spellcheck in `COMMIT_EDITMSG`
  .vscode/settings.json
  cspell.yml
  spellcheck/dictionaries/file-names.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Spellcheck in `COMMIT_EDITMSG` (#108)
  .vscode/settings.json
  cspell.yml
  spellcheck/dictionaries/file-names.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci(lint): Skip git commit lint when Dependabot is author
  scripts/run/git.sh
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

ci(lint): Skip git commit lint when Dependabot is author (#109)
  scripts/run/git.sh
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

build(lint): Add `eslint` with its config
  .eslintignore
  .eslintrc.yml
  package-lock.json
  package.json
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Add commands to lint `*.js` and ignored cache
  .gitignore
  .prettierignore
  .vscode/tasks.json
  cspell.yml
  run
  scripts/run/javascript.sh
  spellcheck/dictionaries/file-names.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(lint): Lint and format `*.js` during git staging
  .lintstagedrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Cache `.eslintcache`
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add settings from `eslint-config-airbnb-base` for formatter and ruler
  .editorconfig
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add extension for `eslint`
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): `commitlintrc` as `yml` to avoid warning from `eslint`
  .commitlintrc.js
  .commitlintrc.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

build(lint): Add `eslint` commands with its config to lint Javascript (#117)
  .commitlintrc.js
  .commitlintrc.yml
  .devcontainer/devcontainer.json
  .editorconfig
  .eslintignore
  .eslintrc.yml
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  cspell.yml
  package-lock.json
  package.json
  run
  scripts/run/javascript.sh
  spellcheck/dictionaries/file-names.txt
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Rename `file-names.txt` to `filenames.txt`
  cspell.yml
  spellcheck/dictionaries/filenames.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Rename `file-names.txt` to `filenames.txt` (#118)
  cspell.yml
  spellcheck/dictionaries/filenames.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Remove `vendor/` from `.*ignore`
  .prettierignore
  .stylelintignore
Due: ./run spellcheck:lint

chore: Remove `vendor/` from `.*ignore` (#119)
  .prettierignore
  .stylelintignore
Due: ./run spellcheck:lint

chore: Rewording and reorder command options
  .vscode/tasks.json
  scripts/run/css.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(scripts): Rewording and reorder command options (#120)
  .vscode/tasks.json
  scripts/run/css.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

build(scripts): Add `concurrently` to run commands concurrently
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(scripts): Run commands concurrently for `lint` and `format`
  run
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Reorder commands alphabetically
  run
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Show message when error during format
  run
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Format javascript in `format` command
  run
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Refactor
  run
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Add clearer comment
  run
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

build(scripts): Add `concurrently` to run commands concurrently (#121)
  package-lock.json
  package.json
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

build(scripts): Replace `npm concurrently` with `GNU parallel`
  Dockerfile
  package-lock.json
  package.json
  run
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint

build(docker): Replace `npm concurrently` with `GNU parallel` (#122)
  Dockerfile
  package-lock.json
  package.json
  run
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Run `npm update`
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Run `npm update` (#123)
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Relax `prettier` version
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Relax `prettier` version (#124)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump npm from 7.24.0 to 8.0.0
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint
