Repository aifrak/template-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run css:format, ./run prettier:format, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

.lintstagedrc.yml:

"*":
  - ./run spellcheck:lint

"*.{css,less,sass,scss}":
  - ./run css:format
  - ./run prettier:format
  - ./run css:lint
  - ./run prettier:lint

"*.{htm,html}":
  - ./run prettier:format
  - ./run html:lint
  - ./run prettier:lint

"*.js":
  - ./run js:format
  - ./run prettier:format
  - ./run js:lint
  - ./run prettier:lint

"{run,.husky/*,*.sh}":
  - ./run shell:format
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:format
  - ./run dockerfile:lint

"*.{json,yaml,yml,htmlhintrc}":
  - ./run prettier:format
  - ./run prettier:lint

"*.md":
  - ./run prettier:format
  - ./run prettier:lint
  - ./run markdown:lint

chore: Use comment blocks for documentation (#366)
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.cjs
  scripts/release-it/tests/plugins/calver-bumper.test.js
  scripts/release-it/types.cjs
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint

chore: Use object when exporting
  .release-it.cjs
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.cjs
  scripts/release-it/types.cjs
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint

chore: Use object when exporting (#367)
  .release-it.cjs
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.cjs
  scripts/release-it/types.cjs
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint

chore(lint): Remove `eslint` specific rules which were not applied
  .eslintrc.yml
  scripts/release-it/plugins/calver-bumper.js
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint

chore(lint): Remove `eslint` specific rules which were not applied (#368)
  .eslintrc.yml
  scripts/release-it/plugins/calver-bumper.js
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run js:format, ./run js:lint

chore(readme): Mention documentation
  README.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(readme): Mention documentation (#369)
  README.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(deps-dev): Install compatible version of `stylelint-a11y` for `stylelint` 14.0.0
  package-lock.json
  package.json
  spellcheck/dictionaries/repo-owners.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Install compatible version of `stylelint-a11y` for `stylelint` 14.0.0 (#371)
  package-lock.json
  package.json
  spellcheck/dictionaries/repo-owners.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump `minimist` to patch vulnerability
  package-lock.json
  package.json
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump `minimist` to patch vulnerability (#372)
  package-lock.json
  package.json
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Remove `stylelint-use-nesting`
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Remove `stylelint-use-nesting` (#373)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Rebuild `package-lock.json`
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Rebuild `package-lock.json` (#374)
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump npm from 8.5.4 to 8.9.0
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Bump npm from 8.5.4 to 8.9.0 (#370)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(scripts): Source other files from `run` location
  run
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Source other files from `run` location (#457)
  run
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore: Add `.gitattributes` and tighten eol
  .editorconfig
  .gitattributes
Due: ./run spellcheck:lint

chore: Add `.gitattributes` and tighten eol (#458)
  .editorconfig
  .gitattributes
Due: ./run spellcheck:lint

chore(vscode): Set correct path to `APP_DIR` when repository is cloned into a container volume
  .devcontainer/devcontainer.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Set correct path to `APP_DIR` when repository is cloned into a container volume (#459)
  .devcontainer/devcontainer.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci(scripts): Check commit lint also in parallel
  .github/workflows/ci.yml
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

ci(scripts): Check commit lint also in parallel (#460)
  .github/workflows/ci.yml
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Rename step
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Remove `experimental` in setting ids
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Remove `experimental` in setting ids (#462)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(git): Install dependencies after git pull
  .husky/commit-msg
  .husky/common.sh
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(git): Install dependencies after git pull (#463)
  .husky/commit-msg
  .husky/common.sh
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(git): Do not allow commit on `main` branch
  .husky/pre-commit
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(git): Do not allow commit on `main` branch (#464)
  .husky/pre-commit
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(vscode): Setup dev environment when devcontainer is ready
  .devcontainer/devcontainer.json
  .devcontainer/setup-dev-env.sh
  README.md
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

chore(vscode): Setup dev environment when devcontainer is ready (#465)
  .devcontainer/devcontainer.json
  .devcontainer/setup-dev-env.sh
  README.md
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

chore(deps-dev): Remove overrides from commitizen
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Remove overrides from commitizen (#466)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(docker): Follow default npm version from node image
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(docker): Follow default npm version from node image (#467)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore: Remove unused variable and reorder
  .github/workflows/ci.yml
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Remove unused variable and reorder (#469)
  .github/workflows/ci.yml
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint
