Repository aifrak/template-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run css:format, ./run prettier:format, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

.lintstagedrc.yml:

"*":
  - ./run spellcheck:lint

"*.{css,less,sass,scss}":
  - ./run css:format
  - ./run prettier:format
  - ./run css:lint
  - ./run prettier:lint

"*.{htm,html}":
  - ./run prettier:format
  - ./run html:lint
  - ./run prettier:lint

"*.js":
  - ./run js:format
  - ./run prettier:format
  - ./run js:lint
  - ./run prettier:lint

"{run,.husky/*,*.sh}":
  - ./run shell:format
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:format
  - ./run dockerfile:lint

"*.{json,yaml,yml,htmlhintrc}":
  - ./run prettier:format
  - ./run prettier:lint

"*.md":
  - ./run prettier:format
  - ./run prettier:lint
  - ./run markdown:lint

chore(git): Lint `husky` git hooks
  .github/workflows/ci.yml
  scripts/run/shell.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(git): Lint `husky` git hooks (#470)
  .github/workflows/ci.yml
  scripts/run/shell.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(scripts): Reorder script names
  .devcontainer/setup-dev-env.sh
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.yml
  .vscode/tasks.json
  docs/code-convention.md
  docs/setup.md
  run
  scripts/run/css.sh
  scripts/run/docker_file.sh
  scripts/run/git.sh
  scripts/run/html.sh
  scripts/run/javascript.sh
  scripts/run/markdown.sh
  scripts/run/prettier.sh
  scripts/run/release.sh
  scripts/run/shell.sh
  scripts/run/spellcheck.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

chore(scripts): Reorder script names (#481)
  .devcontainer/setup-dev-env.sh
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.yml
  .vscode/tasks.json
  docs/code-convention.md
  docs/setup.md
  run
  scripts/run/css.sh
  scripts/run/docker_file.sh
  scripts/run/git.sh
  scripts/run/html.sh
  scripts/run/javascript.sh
  scripts/run/markdown.sh
  scripts/run/prettier.sh
  scripts/run/release.sh
  scripts/run/shell.sh
  scripts/run/spellcheck.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

chore: Rename variables and tasks
  .github/workflows/ci.yml
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Rename variables and tasks (#489)
  .github/workflows/ci.yml
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Upgrade Ubuntu from focal to jammy
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
  Dockerfile
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run dockerfile:format, ./run dockerfile:lint

chore: Upgrade Ubuntu from focal to jammy (#492)
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
  Dockerfile
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(docker): Keep only date in `parallel` version
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(docker): Keep only date in `parallel` version (#493)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(scripts): Fix fake URL
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Fix fake URL (#506)
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Avoid nested functions
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Avoid nested functions (#601)
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(vscode): Use new way to setup default extensions
  .devcontainer/devcontainer.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Use new way to setup default extensions (#602)
  .devcontainer/devcontainer.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Migrate htmlhint extension to `HTMLHint.vscode-htmlhint`
  .devcontainer/devcontainer.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Migrate htmlhint extension to `HTMLHint.vscode-htmlhint` (#603)
  .devcontainer/devcontainer.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Migrate Comment Anchors setting
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Migrate Comment Anchors setting (#604)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Migrate htmlhint extension to `HTMLHint.vscode-htmlhint`
  .vscode/extensions.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Migrate htmlhint extension to `HTMLHint.vscode-htmlhint` (#607)
  .vscode/extensions.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

docs(license): Update copyright year to 2023
  LICENSE
Due: ./run spellcheck:lint

docs(license): Update copyright year to 2023 (#613)
  LICENSE
Due: ./run spellcheck:lint

chore(lint): Apply max line height also for comments
  scripts/release-it/hooks/changelog/header-template.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(lint): Apply max line height also for comments (#633)
  scripts/release-it/hooks/changelog/header-template.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(docker): Pin dev packages
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(docker): Pin dev packages (#634)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Get last version of caniuse-lite
  package-lock.json
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Get last version of caniuse-lite (#635)
  package-lock.json
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Replace deprecated `set-output`
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Replace deprecated `set-output` (#636)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps): Upgrade node from 16 to 18
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps): Upgrade node from 16 to 18 (#638)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Remove unnecessary `overrides`
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Remove unnecessary `overrides` (#643)
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps): Set node engine from 16 to 18
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps): Set node engine from 16 to 18 (#644)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Audit npm packages
  .github/workflows/audit-npm.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Audit npm packages (#650)
  .github/workflows/audit-npm.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint
