Repository aifrak/template-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run css:format, ./run prettier:format, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:format, ./run js:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

.lintstagedrc.yml:

"*":
  - ./run spellcheck:lint

"*.{css,less,sass,scss}":
  - ./run css:format
  - ./run prettier:format
  - ./run css:lint
  - ./run prettier:lint

"*.{htm,html}":
  - ./run prettier:format
  - ./run html:lint
  - ./run prettier:lint

"*.js":
  - ./run js:format
  - ./run prettier:format
  - ./run js:lint
  - ./run prettier:lint

"{run,.husky/*,*.sh}":
  - ./run shell:format
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:format
  - ./run dockerfile:lint

"*.{json,yaml,yml,htmlhintrc}":
  - ./run prettier:format
  - ./run prettier:lint

"*.md":
  - ./run prettier:format
  - ./run prettier:lint
  - ./run markdown:lint

chore(docker): Add `ci` as new build stage (#156)
  .github/workflows/ci.yml
  .husky/pre-commit
  .vscode/settings.json
  .vscode/tasks.json
  Dockerfile
  docker-compose.ci.yml
  docs/setup.md
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

chore(deps-dev): Update dependencies
  cspell.yml
  package-lock.json
  package.json
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update dependencies (#157)
  cspell.yml
  package-lock.json
  package.json
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Add `eslint` new rules
  .eslintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Add `eslint` new rules (#158)
  .eslintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps): Bump npm from 8.1.2 to 8.1.4
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps): Bump npm from 8.1.2 to 8.1.4 (#159)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore: Add `.relesea-it.js` as `chore` for PR labeler
  .github/labeler.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Add `.relesea-it.js` as `chore` for PR labeler (#160)
  .github/labeler.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Use `check` to test and lint in parallel
  .github/workflows/ci.yml
  .vscode/tasks.json
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

ci: Use `check` to test and lint in parallel (#161)
  .github/workflows/ci.yml
  .vscode/tasks.json
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

style: Remove unnecessary `"` and sort values in list in `*.yml`
  .github/dependabot.yml
  .github/pr-labeler.yml
  .github/workflows/auto-merge.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  cspell.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

style: Use `"` for `time` to force string type
  .github/dependabot.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

style: Remove unnecessary `"` and sort values in list in `*.yml` (#162)
  .github/dependabot.yml
  .github/pr-labeler.yml
  .github/workflows/auto-merge.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  cspell.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Use variable instead of raw value
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Use variable instead of raw value (#164)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Spellcheck commit messages
  .husky/commit-msg
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore: Spellcheck commit messages (#165)
  .husky/commit-msg
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore: Remove deprecated `--no-install`
  .husky/commit-msg
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore: Remove deprecated `--no-install` (#166)
  .husky/commit-msg
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(lint): Use cache for `cspell`
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  cspell.yml
  scripts/run/spellcheck.sh
  spellcheck/dictionaries/filenames.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(lint): Use cache for `cspell` (#167)
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  cspell.yml
  scripts/run/spellcheck.sh
  spellcheck/dictionaries/filenames.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(lint): Simply glob and use `--dot` to include dotfiles
  scripts/run/spellcheck.sh
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(lint): Simply glob and use `--dot` to include dotfiles (#168)
  scripts/run/spellcheck.sh
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore: Add more files to labeler
  .github/labeler.yml
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Add more files to labeler (#169)
  .github/labeler.yml
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Improve comment
  cspell.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Improve comment (#170)
  cspell.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

docs(license): Enforce commit title to follow `commitlint` rules
  .github/labeler.yml
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

docs(license): Enforce commit title to follow `commitlint` rules (#171)
  .github/labeler.yml
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump eslint-plugin-promise from 5.1.1 to 5.2.0
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump eslint-plugin-promise from 5.1.1 to 5.2.0 (#173)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Lint staged files and test project in parallel in `pre-commit`
  .husky/pre-commit
  .lintstagedrc.yml
  .vscode/tasks.json
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(lint): Lint staged files and test project in parallel in `pre-commit` (#174)
  .husky/pre-commit
  .lintstagedrc.yml
  .vscode/tasks.json
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(vscode): Use right function for `lint-staged` task
  .vscode/tasks.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Use right function for `lint-staged` task (#175)
  .vscode/tasks.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Reword tasks description
  .vscode/tasks.json
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Reword tasks description (#176)
  .vscode/tasks.json
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

ci: Use step outputs instead of environment variables
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Use step outputs instead of environment variables (#177)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint
