Repository aifrak/template-repo: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run lint:spellcheck, ./run lint:css, ./run lint:prettier, ./run lint:html, ./run lint:js, ./run lint:shell, ./run lint:dockerfile

chore(vscode): Move `settings` to recommended location
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Move `settings` to recommended location (#800)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Ascending order for values
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Ascending order for values (#801)
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(scripts): Move helper scripts and use right path in shebang
  .husky/helpers/common.sh
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
  .husky/pre-commit
  scripts/run/shell.sh
Due: ./run lint:spellcheck, ./run lint:shell

chore(scripts): Move helper scripts and use right path in shebang (#810)
  .husky/helpers/common.sh
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
  .husky/pre-commit
  scripts/run/shell.sh
Due: ./run lint:spellcheck, ./run lint:shell

chore(vscode): Setup devcontainer at container creation
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: ./run lint:spellcheck, ./run lint:prettier, ./run lint:shell

chore(vscode): Setup devcontainer at container creation (#811)
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: ./run lint:spellcheck, ./run lint:prettier, ./run lint:shell

chore(vscode): Use recommended option by official documentation
  .devcontainer/devcontainer.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Use recommended option by official documentation (#812)
  .devcontainer/devcontainer.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps-dev): Fix semver vulnerability
  package-lock.json
  package.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps-dev): Fix semver vulnerability (#813)
  package-lock.json
  package.json
Due: ./run lint:spellcheck, ./run lint:prettier

ci(release): Bump node from 16 to 18
  .github/workflows/release.yml
Due: ./run lint:spellcheck, ./run lint:prettier

ci(release): Bump node from 16 to 18 (#815)
  .github/workflows/release.yml
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps-dev): Fix word-wrap vulnerability
  package-lock.json
  package.json
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/repo-owners.txt
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps-dev): Fix word-wrap vulnerability (#818)
  package-lock.json
  package.json
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/repo-owners.txt
Due: ./run lint:spellcheck, ./run lint:prettier

chore(scripts): Format code
  scripts/release-it/tests/plugins/calver-bumper.test.js
Due: ./run lint:spellcheck, ./run lint:prettier, ./run lint:js

chore(vscode): Fix prettier load module error
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Fix prettier load module error (#829)
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

ci: Downgrade actions/labeler
  .github/dependabot.yml
  .github/workflows/label.yml
Due: ./run lint:spellcheck, ./run lint:prettier

ci: Downgrade actions/labeler (#966)
  .github/dependabot.yml
  .github/workflows/label.yml
Due: ./run lint:spellcheck, ./run lint:prettier

docs(license): Update copyright year to 2024
  LICENSE
Due: ./run lint:spellcheck

docs(license): Update copyright year to 2024 (#978)
  LICENSE
Due: ./run lint:spellcheck

docs(license): Update copyright year to 2025
  LICENSE
Due: ./run lint:spellcheck

docs(license): Update copyright year to 2025 (#1159)
  LICENSE
Due: ./run lint:spellcheck

ci: Bump runner versions
  .github/workflows/audit-npm.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
Due: ./run lint:spellcheck, ./run lint:prettier

Bump runner versions (#1218)
  .github/workflows/audit-npm.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
Due: ./run lint:spellcheck, ./run lint:prettier

Path conditions:
  ./run lint:spellcheck: any of: *
  ./run lint:css: any of: *.{css,sass,scss}
  ./run lint:prettier: (((any of: *.{css,sass,scss}) or (any of: *.{htm,html})) or (any of: *.js)) or (any of: *.{json,yaml,yml,htmlhintrc})
  ./run lint:html: any of: *.{htm,html}
  ./run lint:js: any of: *.js
  ./run lint:shell: any of: {run,.husky/*,*.sh}
  ./run lint:dockerfile: any of: Dockerfile*
